{{ define "main" }}
<section class="posts-list">
  <div class="container">
    {{ if .Pages }}
    <ul class="posts-simple-list">
      {{ range .Pages.ByDate.Reverse }}
      <li class="post-item">
        <a href="{{ .Permalink }}" class="post-link">{{ .Title }}</a>
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
      </li>
      {{ end }}
    </ul>

    {{ template "_internal/pagination.html" . }}
    {{ else }}
    <div class="empty-state">
      <p>No posts yet in this category. Check back soon!</p>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
